/*  o  burp °  __v____ o °  O o ° o  */
/*   O °  o\  '       \ ° _° o O °   */
/*  ° O  ° o | _o      `-'_>  ° o °  */
/*    o ° o   .         .-.> o O °   */
/*   O   o ° o `-------' °  o ° O o  */

ide-area {
  display: flex;
  position: relative;

  font-family: Monokai, Helvetica, Arial, sans-serif;

  background-color: #181b18;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;

  font-family: monospace;
}

ide-area #ide-counter {
  position: relative;
  counter-reset: cells;
  overflow: hidden;

  margin-right: 5px;
}

ide-area .ide-cell {
  display: block;
  counter-increment: cells;
  width: fit-content;
}

ide-area .ide-cell:before {
  display: inline-block;
  content: counter(cells);
  width: fit-content;

  font-size: 16px;
  height: 18px;
  line-height: 18px;
  white-space: pre;

  color: var(--color);
  font-weight: var(--font-wieght);

  margin-left:  10px;
  margin-right: 10px;
}

ide-area #ide-textarea {
  display: flex;
  position: relative;

  flex-grow: 1;
  height: 100%;

  border-left: solid #f000f0 1px;
  padding-left: 5px;
}

ide-area #ide-syntax {
  flex-grow: 1;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

ide-area .ide-line {
  font-size: 16px;
  height: 18px;
  line-height: 18px;
  white-space: pre;
}

ide-area #ide-area {
  position: absolute;
  margin: 0px;
  padding: 1px;

  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-color: transparent;

  color: #fff;
  font-family: monospace;
  font-size: 16px;
  line-height: 18px;
  white-space: pre;

  cursor: text;

  overflow-wrap: normal;
  overflow-x: auto;

  border: none;
  outline: none;
  resize: none;
}

ide-area #ide-area::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #111;
  cursor: pointer;
  border-radius: 2.5px;
}

ide-area #ide-area::-webkit-scrollbar-thumb {
  background-color: #f000f0;
  border-radius: 2.5px;
}

ide-area #ide-area::-webkit-scrollbar-corner {
  display: none;
}

ide-area #ide-area::selection {
  display: none;
}

ide-area #ide-area ide-caret {
  background-color: #fff4;
  border-radius: 4px;
  -webkit-box-decoration-break: clone;
}

ide-area #ide-area ide-caret::before {
  position: absolute;
  display: inline-block;
  content: " ";
  width: 2px;
  height: 19px;
  background-color: #f000f0;
}

ide-area #ide-area ide-caret.right::after {
  position: absolute;
  display: inline-block;
  content: " ";
  width: 2px;
  height: 19px;
  background-color: #f000f0;
}

ide-area #ide-area ide-caret.right::before {
  display: none;
  content: none;
}

ide-area #ide-area.focusout ide-caret::before {
  background-color: #f000f040;
}

ide-area #ide-area ide-caret::selection {
  display: none;
}